.toast-success {
	background-color: rgb(0, 107, 0);
}

.toast-error {
	background-color: rgb(186, 0, 0);
}

.dataTables_length{
	display: none;
}
.dataTables_paginate {
	display: none;
}
.modal-header{
	background-color: #eff8ff;
}

.edit-table-btn{
	border: 1px solid #0aa170 !important;
}
.edit-table-btn .feather-edit{
	color: #0aa170 !important;
}

.delete-table-btn{
	border: 1px solid #ee001a !important;
}
.delete-table-btn .feather-trash-2{
	color: #ee001a !important;
}
.delete-section{
	max-height: 265px;
}